.card {
    font-family: "Noto Sans CJK JP";
    text-align: center;

    margin: 5% 30% 5% 30%;
}

#word {
    font-size: 60px;
    color: #cdd6f4;
    background: #181825;

    border-bottom: 5px solid #89b4fa;
    border-radius: 0 0 10px 10px;

    box-shadow: 0 4px 4px -4px #89b4fa;
}

#reading {
    font-size: 25px;
    color: #bac2de;
    background: #181825;

    margin: 0 0 -15px 0;

    border-radius: 10px 10px 0 0;
}

#definition {
    font-size: 15px;
    color: #cdd6f4;
    background: #181825;

    padding: 10px;

    border-left: 5px solid #89b4fa;
    border-radius: 5px;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#sentence {
    font-size: 25px;
    color: #bac2de;
    opacity: 0%;

    padding: 10px 0 10px 0;

    text-align: left;
    display: inline-block;
}

#sentence:hover {
    opacity: 100%;
}

#frequency {
    font-size: 15px;
    color: #bac2de;

    text-align: right;
}

#audio {
    display: none;
}

b {
    color: #89b4fa;
}
